@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: large;
}

.nav-left .logo {
    height: 50px;     
    width: auto;       
    vertical-align: middle;
}



a {
    text-decoration: none;
    color: #5D4037;
}

a:hover {
    color: #8B4513;
}

body {
    background-color: #FFF5E1;
    color: #5D4037;
    line-height: 1.6;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5vw;
    font-size: 0.9rem;
    color: #5D4037;
    height: 2.5vh;
}

#top-bar .social-icons a {
    margin-left: 1rem;
    color: #5D4037;
    font-size: 1.2rem;
    text-decoration: none;
}

#top-bar .social-icons a:hover {
    color: #8B4513;
}

#first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5vw;
    background-color: #f8c8dc;
    height: 2vh;
    border-top: 2px solid #f4a8b7;
    border-bottom: 2px solid #f4a8b7;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

#search-bar {
    display: flex;
    align-items: center;
}

#search-bar input {
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

#search-bar button {
    margin-left: 0.3rem;
    padding: 0.3rem 0.6rem;
    border-radius: 8px;
    border: none;
    background-color: #e99fac;
    color: white;
    cursor: pointer;
    transition:0.3s ease, transform 0.2s;
}

#search-bar button:hover {
    background-color: #c4806b;
    transform: scale(1.05);
}

header {
    margin-top: -0.3px;
    text-align: center;
    background: #f4a8b7;
    padding: 2rem;
}

header h1 {
    margin: 0;
    color: #5D4037;
    font-family: "Pacifico", cursive;
    font-size: 32px;
}

header p {
    margin-top: 1rem;
    font-style: italic;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.row-last {
    justify-content: center;
}

.category {
    margin-top: 2rem;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.category-title {
    font-size: 1.8rem;
    color: #8B4513;
    margin-bottom: 1rem;
    text-align: center;
}

.item {
    background: #f4a8b7;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px #0000001a;
    transition: transform 0.3s ease-in-out;
    margin-left: 5vh;
}

.item:hover {
    transform: scale(1.05);
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin: 0 auto 1rem auto;
    background-color: #f8d7da;
}

.name {
    font-weight: 700;
    color: #5D4037;
    margin-bottom: 0.2rem;
}

.price {
    font-weight: 700;
    color: white;
    margin-bottom: 0.5rem;
}

.img-TC001 { background-image: url('https://tortasdelacasa.com/wp-content/uploads/2024/02/DSC4340-scaled.jpg'); }
.img-TC002 { background-image: url('https://images.aws.nestle.recipes/original/2024_10_23T06_40_18_badun_images.badun.es_tarta_fria_de_chocolate_blanco_con_frutas.jpg'); }
.img-TT001 { background-image: url('https://reposteriaflores.cl/wp-content/uploads/2016/11/maxresdefault.jpg'); }
.img-TT002 { background-image: url('https://rhenania.cl/wp-content/uploads/2020/12/CIRUELA-MANJAR-BLANCO.jpg'); }
.img-PI001 { background-image: url('https://www.elinasaiach.com/wp-content/uploads/2022/04/Mousse-Chocolate-3.jpg'); }
.img-PI002 { background-image: url('https://recetasdecocina.elmundo.es/wp-content/uploads/2022/08/tiramisu-postre-italiano.jpg'); }
.img-PSA001 { background-image: url('https://www.lomismoperosano.cl/wp-content/uploads/2022/01/receta-torta-panqueque-naranja.jpg'); }
.img-PSA002 { background-image: url('https://www.hola.com/horizon/landscape/64c21cd97107-tarta-horno-queso-t.jpg'); }
.img-PT001 { background-image: url('https://cdn7.kiwilimon.com/recetaimagen/1366/960x640/2229.jpg.jpg'); }
.img-PT002 { background-image: url('https://jetextramar.com/wp-content/uploads/2021/11/tarta-de-santiago1-empresa-de-alimentos.jpg'); }
.img-PG001 { background-image: url('https://azucarledesma.com/wp-content/uploads/2024/01/20240131-BrownieLight.jpg'); }
.img-PG002 { background-image: url('https://levanova.es/wp-content/uploads/2021/07/pansingluten.png'); }
.img-PV001 { background-image: url('https://luciapaula.com/wp-content/uploads/2023/01/Blog-1970-01-20-125839033.jpg'); }
.img-PV002 { background-image: url('https://i.blogs.es/8792e6/galletas-avea-tahina-datiles/840_560.jpg'); }
.img-TE001 { background-image: url('https://i.pinimg.com/originals/aa/a0/4f/aaa04fb61005c9fc6d748dee6eac76f3.jpg'); }
.img-TE002 { background-image: url('https://i.pinimg.com/474x/3b/bc/bb/3bbcbb826b865e5278f53a5b2661c2e5.jpg'); }

.btn {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 25px;
    background: #e99fac;
    color: #5D4037;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #c4806b;
    transform: scale(1.05);
}

@media(max-width: 1024px) {
    .category {
        width: 48%;
    }
    
    .row-last .category {
        width: 48%;
    }
}

@media(max-width: 768px) {
    .category {
        width: 100%;
    }
    
    .row-last .category {
        width: 100%;
    }
    
    #first {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    
    .nav-left, .nav-right, #search-bar {
        margin-bottom: 1rem;
    }
}

@media(max-width: 480px) {
    .img {
        width: 200px;
        height: 200px;
    }
    
    .header h1 {
        font-size: 2rem;
    }
    
    .category-title {
        font-size: 1.5rem;
    }
}

#pie {
    background-color: #FFE0B2;
    color: #5D4037;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 3rem;
    font-family: "Lato", sans-serif;
    border-top: 2px solid #d7b48c;
    gap: 10rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding-bottom: 1rem;
}

.footer-section {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.footer-section h3 {
    font-family: "Lato", cursive;;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #8B4513;
}

.footer-section a {
    color: #5D4037;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #BF360C;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #d7b48c;
    padding-top: 1rem;
    font-size: 0.9rem;
}


#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e99fac; /* color acorde con tu diseño */
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-weight: bold;
    z-index: 1000;
}

#toast.show {
    opacity: 1;
    transform: translateY(0);
}